<script>
import { fetchApi } from "./api/api";

export default {
  name: "App",
  data() {
    return {
      env: import.meta.env.NODE_ENV,
      data: [],
    };
  },
  created() {
    fetchApi().then(({ data }) => {
      this.data = data;
    });
  },
};
</script>

<template>
  <h1>
    {{ env }}
  </h1>
  <div>
    {{ data }}
  </div>
</template>
